/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* BODY */
body {
    background: white;
    color: black;
    line-height: 1.6;
    transition: 0.3s;
}

body.dark {
    background: #121212;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #333;
    color: white;
}

/* Horizontal menu */
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Links */
.navbar a {
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    transition: 0.3s;
}

/* Hover */
.navbar a:hover {
    background: white;
    color: black;
    border-radius: 5px;
}